<footer id="sticky-footer" class="bg-dark text-white-50 text-center font-small ">
  <div class="social pt-4 pb-4">
    <a href="https://github.com/asv-solo"><i class="fab fa-github fa-2x mr-3"></i></a>
    <a href="https://vk.com/vo_id13"><i class="fab fa-vk fa-2x mr-3"></i></a>
    <!-- <a href=""><i class="fab fa-telegram fa-2x mr-3"></i></a> -->
    <a href="https://codepen.io/foxbro"><i class="fab fa-codepen fa-2x mr-3"></i></a>
  </div>
  <div class="footer-copyright py-3">
      © 2019 asv-solo <span class="email" >{{site.email}}</span> 
  </div>
</footer>