 <!-- Grid column -->
 <div class="col-lg-4 col-md-12 mb-4">
            
    <!--Card-->
    <div class="card elegant-color">
      
      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <img src="{{post.pic}}" class="img-fluid" alt="Card image cap">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>
      
          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
              <h4 class="card-title white-text py-3">{{post.title}}</h4>
              <!--Text-->
              <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error volosit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab eum illo inventore veritatis quasi architecto beatae vitae dicta explicabo.</p>
             <a href="{{post.url}}" class="btn btn-indigo btn-md">Далее</a>
            </div>
            
          </div>
          <!--/.Card-->

        </div>
        <!-- Grid column -->