 <!-- Grid column -->
 <div class="col-lg-4 col-md-6 mb-4">
                  
    <!--Card-->
    <div class="card red">

      <!--Card image-->
      <div class="view overlay hm-red-slight">
            <img src="{{post.pic}}" class="img-fluid" alt="Card image cap">
            <a href="#!">
              <div class="mask"></div>
            </a>
          </div>
          
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title white-text py-3">The most beautiful caves</h4>
            <!--Text-->
            <p class="card-text white-text">Nemo enim ipsam voluptatem, consectetur sunt elit. Impedit iste perspiciatis earum voluptatem ad possimus itaque, eum aspernatur, nostrum dignissimos beatae id in illum accusantium adipisicing suscipit sunt doloremque.</p>
            <a href="#" class="btn btn-success my-3">Read more</a>
        </div>
        
      </div>
      <!--/.Card-->
      
</div>
<!-- Grid column -->